
body {
    background-image: url("../../../img/admi.jpg");
    background-size: cover;
    background-attachment: fixed;
    }

.content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
}
 